Package: am.theiostre.caffeine2
Name: caffeine2
Depends: mobilesubstrate, applist, com.zimm.libdisplaystack | firmware (>= 6.0)
Version: 2.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: theiostream
Author: theiostream
Section: Tweaks
